<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>400</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="css/style.css" />
</head>
<body>
	  <div class="container-fluid">
      <div class="row">
        <div class="d-flex justify-content-center">
          <div class="error-message">
            <i class="fa-solid fa-triangle-exclamation"></i>
            <h2>Oops!</h2>
            <h5>404 - Page not found</h5>
            <p>The page you are looking for is temporarily unavailable.</p>
            <a href="#">Go to login page</a>
          </div>
        </div>
      </div>
    </div>
  <script src="js/script.js"></script>
    <script src="js/bootstrap.min.js"></script>
  
</body>

</html>
