<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Admin List</title>
    <style>
    </style>
</head>
<body>
    <th:block th:insert="Headers.html"></th:block>
    <div class="container">
        <div>
            <div>
                <h1>Admin List</h1>
            </div>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th>Profile Picture</th>
                            <th>Full Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="a : ${adminList}">
                            <td>
                                <!-- Showing the converted base 64 image -->
                                <img th:src="'data:image/jpeg;base64,' + ${a.profilePictureBase64}" alt="Profile Picture" style="width: 50px; height: 50px; border-radius: 50%;" />
                            </td>
                            <td>[[${a.fullName}]]</td>
                            <td>[[${a.email}]]</td>
                            <td>[[${a.phone}]]</td>
                            <td>
                                <a th:href="@{/admin/edit(id=${a.id})}">
                                    <input type="Submit" value="Edit" class="btn btn-success">
                                </a>
                                
                                <!-- Conditional rendering for delete link with confirmation -->
                                <span th:if="${not #strings.isEmpty(a.id)}">
                                    <a th:href="@{/admin/delete(id=${a.id})}" onclick="return confirm('Are you sure you want to delete?')">
                                        <input type="submit" value="Delete" class="btn btn-danger">
                                    </a>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>Copyright@2023</div>
        </div>
    </div>
</body>
</html>
