<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<style>
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Tahoma, Serif;
  color: #263238;
}
nav {
  display: flex; /* 1 */
  justify-content: space-between; /* 2 */
  padding: 1rem 2rem; /* 3 */
  background: #cfd8dc; /* 4 */
}

nav ul {
  display: flex; /* 5 */
  list-style: none; /* 6 */
}

nav li {
  padding-left: 1rem; /* 7! */
}
nav a {
  text-decoration: none;
  color: #0d47a1
}
</style>
<title>Admin Panel</title>
</head>
<body>
</head>
<body>
    <div class="container">
        <nav>
  <h2>Admin</h2>
  <ul>
    <li><a href="/home">Home</a></li>
    <li><a href="/admin">Admins</a></li>
    <li><a href="/employees">Employees</a></li>
    <li><a href="/sellers">Sellers</a></li>
    <li><a href="/users">Users</a></li>
    <li><a href="/requests">Pending Approval</a></li>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</nav>
</div>
</body>
</html>